* {
    text-decoration: none;
}
body {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
}
:root {
    --bgcenter: #3c3c3c;
    --branco: #ffff;
    --verde: #1db954;
    --preto: #181818;
    --pretolateral: #121212;
    --cinza: #b3b3b3;
}