.blockRight-lateral {
    width: 235px;
    background-color: #121212;
    position: fixed;
    right: 0;
    top: 0;
    height: 656px;
}

.blockRight-lateral h2 {
    color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    margin: 20px;
    padding: 18px 0;
    border-bottom: 1px solid #3c3c3c;
    text-align: left;
}


