.center {
    display: flex;
    justify-content: center;
}
.block-center {
    width: 894px;
    background-color: var(--bgcenter);
    height: 354px;
}
.topo {
    padding-bottom: 20px;
    padding-top: 5px;
    margin-left: 10px;
    
}
.input {
    border-radius: 15px;
    outline: none;
    border: 1px solid #282828;
    width: 176px;
    height: 26px;
    padding: 3px;
    margin-left: 5px;
    font-size: 14px;
}

.arrows {
    display: inline-block;
}

.album {
    height: 219px;
    background-color: (--pretobg);
    margin-left: 30px;
    width: 220px;
    margin-top: 20px;
    height: 220px;
    display: inline-block;
}
.cover {
    float: left;
}