.blockLeft-lateral{
    width: 198px;
    height: 652px;
    background-color: #121212;
    padding: 20px;
    position: fixed;
}
.wrap-menu {
    padding-bottom: 20px;
}
.itemList_firstMenu {
    padding: 5px;
}
.linkLateral {
    color: #b3b3b3;
    font-weight: bold;
}

.active:hover {
    color: var(--branco);
}

.block-newPlaylist {
    height:325px;
    width: 198px;
    border-top: 1px solid #282828;
    color: var(--cinza);
    padding: 20px;
}



.block-newPlaylist > .fa-plus-circle {
    font-size: 16px;
    
}